In [1]:
#importing pandas as pd
import pandas as pd

In [2]:
#reading the csv file into a dataframe
df = pd.read_csv("data.csv")

In [3]:
df.head() #shows the first 5 rows of the dataframe or we can specify n for it to show the first n rows

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [4]:
df.tail()  #shows the last 5 rows of the df or we can specifty n for it to show the last n rows

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
2012,2012,0.00106,0.584,274404,0.932,0.002690,1,0.1290,-3.501,1,0.333,74.976,4.0,0.211,0,Like A Bitch - Kill The Noise Remix,Kill The Noise
2013,2013,0.08770,0.894,182182,0.892,0.001670,1,0.0528,-2.663,1,0.131,110.041,4.0,0.867,0,Candy,Dillon Francis
2014,2014,0.00857,0.637,207200,0.935,0.003990,0,0.2140,-2.467,1,0.107,150.082,4.0,0.470,0,Habit - Dack Janiels & Wenzday Remix,Rain Man
2015,2015,0.00164,0.557,185600,0.992,0.677000,1,0.0913,-2.735,1,0.133,150.011,4.0,0.623,0,First Contact,Twin Moons
2016,2016,0.00281,0.446,204520,0.915,0.000039,9,0.2180,-6.221,1,0.141,190.013,4.0,0.402,0,I Wanna Get Better,Bleachers

In [5]:
df.info() #goves us info ab the datatypes, missing values, number of entries etc
#we can see that there are 17 columns in this dataframe and

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2017 non-null   int64
 1   acousticness      2017 non-null   float64
 2   danceability      2017 non-null   float64
 3   duration_ms       2017 non-null   int64
 4   energy            2017 non-null   float64
 5   instrumentalness  2017 non-null   float64
 6   key               2017 non-null   int64
 7   liveness          2017 non-null   float64
 8   loudness          2017 non-null   float64
 9   mode              2017 non-null   int64
 10  speechiness       2017 non-null   float64
 11  tempo             2017 non-null   float64
 12  time_signature    2017 non-null   float64
 13  valence           2017 non-null   float64
 14  target            2017 non-null   int64
 15  song_title        2017 non-null   object
 16  artist            2017 non-null   object
dtypes: float64(10), int64(5), object(2)
memory usage: 268.0+ KB

In [6]:
df.sort_values("danceability")["song_title"].head(10)  
#first we sorted the rows using the danceabilty column as refrence using sort_values (ascending order)
#then we take the top 10 songs titles(these will be the least danceable songs)

729                                            Bumpy Road
532                                       Wake Bake Skate
817     Mozart: Requiem in D Minor, K. 626: VIII. Lacr...
1600           Trio Sonata in G Major, Wq. 144: I. Adagio
1598    Piano Quartet in E flat, Op.47: 3. Andante can...
522                                                 Outro
1348                 Be My Valentine (feat. Dickie Allen)
1464                                           Right Here
1313                                      Senseless Order
1306                                                 Ruin
Name: song_title, dtype: object

In [7]:
df.sort_values("danceability")[["song_title","artist"]].head(10)

,song_title,artist
729,Bumpy Road,Destruction Unit
532,Wake Bake Skate,FIDLAR
817,"Mozart: Requiem in D Minor, K. 626: VIII. Lacr...",Nikolaus Harnoncourt
1600,"Trio Sonata in G Major, Wq. 144: I. Adagio",Carl Philipp Emanuel Bach
1598,"Piano Quartet in E flat, Op.47: 3. Andante can...",Robert Schumann
522,Outro,M83
1348,Be My Valentine (feat. Dickie Allen),Brojob
1464,Right Here,Keys N Krates
1313,Senseless Order,Signs of the Swarm
1306,Ruin,Altered Perceptions

In [8]:
#top 10 longest songs 
df.sort_values("duration_ms")[["song_title","artist","duration_ms"]].tail(10)
#first we sorted the df according to time duration (its in ascending order)
#then we'll grab the song title, artist and duration of the song
#since we want the longest songs we'll grab the tail of the dataframe

,song_title,artist,duration_ms
1602,"String Quintet in C Major, Op. 29: II. Adagio ...",Ludwig van Beethoven,649415
304,Night on Bald Mountain,Modest Mussorgsky,659560
858,Night on Bald Mountain,Modest Mussorgsky,700027
404,Who Is He And What Is He To You,Creative Source,703107
335,Zombie,Fela Kuti,745653
1565,Gloomy Sunday,Branford Marsalis,763467
1603,Viola Sonata in C Minor: III. Andante con vari...,Felix Mendelssohn,784013
819,Southern Man - Live,"Crosby, Stills, Nash & Young",825027
695,Music Is the Answer - Original Extended 12-Inc...,Celeda,849960
1535,The Nearness of You,Joshua Redman,1004627

In [9]:
#songs with duration less than 400 seconds:
df_400 = df[df["duration_ms"] < 400000]
#we will create a new df in which the duration_mas columns will only have those values which are less than 400000

In [10]:
df_400.sort_values("duration_ms", ascending = False)[["song_title","duration_ms","artist"]] 
#same like the 10 longest songs

,song_title,duration_ms,artist
838,Let's Lovedance Tonight - Danny Krivit Re-edit...,398747,Gary's Gang
562,This Time Around,398615,Softwar
943,Anti Social Tendencies,397388,The Parallax Corporation
541,Get Up,397166,Craig Bratley
1541,Two Sleepy People,396520,Marcus Gilmore
...,...,...,...
936,Aloha,52006,Chris Bear
1583,Peas Pudding Hot,51547,The Kids Band
1591,Little Green Apple,47547,Tumble Tots
1436,dance alot,16588,Various Artists
1044,Zac Brown Band - Hot Country,16042,Various Artists

In [11]:
#csv to local 
df_400.to_csv(r'/Users/jasleengill/Downloads/df400.csv')

# activities to sharpen skills

In [12]:
#energy greater than 0.4
df_energy = df[df["energy"] > 0.4]
df_energy.sort_values("energy", ascending = False)["song_title"].head(10)

1299          No Absolution
1322             Pitchblack
1297      A Darkened Gospel
1347             Unanswered
1332        Beautiful Agony
1680               Paranoia
2015          First Contact
1328    Down into the Abyss
1681                  Hated
1296           Black Colors
Name: song_title, dtype: object

In [13]:
#duration less than 300000
df_duration = df[df["duration_ms"] < 300000]
#top 10 fastest songs for df_duration
df_duration.sort_values("tempo", ascending = False)[["song_title","artist"]].head(10)

                song_title            artist
124       Danger and Dread        Brown Bird
718            Hannah Hunt   Vampire Weekend
1960            Puppy Love      Donny Osmond
1711               Amazing     Big Time Rush
809        Tupelo - Part 1       Pop Staples
826     Living Every Dream            Antwon
1339  The Shaping Sickness  Shadow of Intent
102         Willing & Able        Disclosure
1802             Mad Love.              JoJo
532        Wake Bake Skate            FIDLAR

In [14]:
df_energy = df[df["energy"]>0.5]  #creating a dataframe which has energy > 0.5
df_drake = df_energy[df_energy["artist"] == "Drake"] #creating a df from df_energy which has drake as artist
df_drake["song_title"] #displaying the song title of this df

5                      Sneakin’
37                      Jumpman
117               Hotline Bling
154                   Big Rings
440                   Headlines
589     Started From the Bottom
779     0 To 100 / The Catch Up
1016           Skepta Interlude
1218            Best I Ever Had
1223                  Take Care
Name: song_title, dtype: object

# additional tasks

In [15]:
df_new = df[["instrumentalness","song_title","artist"]] #creating new df with only the three columns required

In [16]:
df_new = df_new.sort_values("instrumentalness", ascending = False).head(10) #taking the top 10 values of req column

In [17]:
df_new #displaying the dataframe

,instrumentalness,song_title,artist
1313,0.976,Senseless Order,Signs of the Swarm
271,0.968,So Destroyed (channeling Rage Peace),Prince Rama
1575,0.964,A Hundred Dreams from Now,Ray Bryant
1619,0.958,Raven,John Dahlbäck
725,0.957,Strandbar (disko),Todd Terje
1546,0.956,Almas vaggvisa,Jan Lundgren Trio
1322,0.955,Pitchblack,Walking Dead On Broadway
1349,0.954,Prismatic Abyss,Aversions Crown
1661,0.954,Yebisah,Mark Knight
121,0.952,Chasing Heaven,Bassnectar

In [23]:
df["artist"].value_counts().index.tolist()[:10]  #grabbing indices of top 10 occuring artists

['Drake',
 'Rick Ross',
 'Disclosure',
 'WALK THE MOON',
 'Backstreet Boys',
 'Crystal Castles',
 'FIDLAR',
 'Future',
 'Fall Out Boy',
 'Skrillex']

In [21]:
names = df.loc[df['artist'].isin(df["artist"].value_counts().index.tolist()[:10])] #making a df of these names using 
#df.loc and passing in the argument passed in above line

In [24]:
names["artist"].unique() #checking if new df contains names of only top 10 occuring artisst

array(['Future', 'Drake', 'Crystal Castles', 'Disclosure', 'Rick Ross',
       'FIDLAR', 'Fall Out Boy', 'Skrillex', 'Backstreet Boys',
       'WALK THE MOON'], dtype=object)

In [25]:
df_names = names.groupby("artist") #using groupby group all same names together to perform mathematical ops on it

In [26]:
df_names = df_names.mean() #calculating average of all numerical values of top 10 artists

In [27]:
df_names_final = df_names[["tempo"]] #making a df containing average of only tempo of top 10 artists

In [28]:
df_names_final #displaying dataframe

                      tempo
artist
Backstreet Boys  113.066600
Crystal Castles  128.600778
Disclosure       128.118417
Drake            112.406750
FIDLAR           145.983444
Fall Out Boy     133.815625
Future           128.989625
Rick Ross        110.721923
Skrillex         132.454125
WALK THE MOON    136.163600